<div id="nav-bar">
  <%= link_to "Hacker News", root_path %> <%= link_to "new", new_post_path %> | threads | <%= link_to "comments", root_path %> | show | ask | jobs | submit |
  <% if logged_in?  %>
    <%= link_to 'Logout', logout_path, method: 'delete' %>
  <% else %>
    <%= link_to 'Log In', login_path %>
  <% end %>
</div>
