<!DOCTYPE html>
<html>
<head>
  <title>HackerNewsOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav-bar">
  <%= link_to "Hacker News", root_path %> new | threads | comments | show | ask | jobs | submit
  <div>
<%= yield %>

</body>
</html>
